<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @employee.apellido %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @employee.dni %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @employee.position.nombre  %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
